# Build output
swap.exe
libSwapNative.dylib
libSwapNative.so
SwapNative.dll

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
VisualStudio/Intermediate/
VisualStudio/SwapNative/Intermediate/
VisualStudio/Debug/

